<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
</header>

<div class="panel panel-default dashboard">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number of products</th>
        <th>Number of categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/admin/products"> <%= @number_of_products %> </a></td>
        <td> <%= @number_of_categories %> </td>
      </tr>
    </tbody>
  </table>
</div>